<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference
            for="Stuifzand\StructuredData\Api\Data\CurrentObjectListInterface"
            type="Stuifzand\StructuredData\Model\CurrentObjectList"
    />

    <preference
            for="Stuifzand\StructuredData\Api\Data\GeneratorListInterface"
            type="Stuifzand\StructuredData\Model\GeneratorList"
    />

</config>
